name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - bin/**
jobs:
  publish-docker:
    name: Publish image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/syfxlin/depker
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: ./bin
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
