name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  publish-npm:
    name: Publish packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4.0.0
        with:
          version: 8.12.1
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: 20
          registry-url: https://registry.npmjs.org
      - name: Build
        run: |
          CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o bin/depker.win.amd64.exe bin/depker.go
          CGO_ENABLED=0 GOOS=windows GOARCH=arm64 go build -o bin/depker.win.arm64.exe bin/depker.go
          CGO_ENABLED=0 GOOS=linux   GOARCH=amd64 go build -o bin/depker.linux.amd64   bin/depker.go
          CGO_ENABLED=0 GOOS=linux   GOARCH=arm64 go build -o bin/depker.linux.arm64   bin/depker.go
          CGO_ENABLED=0 GOOS=darwin  GOARCH=amd64 go build -o bin/depker.mac.amd64     bin/depker.go
          CGO_ENABLED=0 GOOS=darwin  GOARCH=arm64 go build -o bin/depker.mac.arm64     bin/depker.go
      - name: Publish
        run: pnpm --package=@semantic-release/git --package=semantic-release-replace-plugin --package=semantic-release dlx semantic-release --branches master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
